*{
    padding: 0;
    margin: 0;
}


header{
    background-color: #153243;
    color: #d6d6d6;
    text-align: center;
}


.head{
    background-color: #0D1B2A;
    text-align: center;
    height:110px;
    font-size: 40px;
    color: #d6d6d6;
}


.navicont{
    display: flex;
    font-size: 20px;
    font-weight: bolder;
    gap: 30px;
    margin-left:42%;
    align-items: center;
    height: 35px;
}



.navicont,a{
    color: #d6d6d6;
    text-decoration: none;
}



.maincontainer{
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



img{
    height: 30px;
    width: 30px;
}


form{
    margin-top: 2rem;
}



form,button,input,select{
    width:100%;
    border:none;
    outline:none;
    border-radius: 0.75rem;
}



footer{
    background-color:#0D1B2A;
    height: 180px;
    color: #edf6f9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



footer,a{
    color:#edf6f9;
}



.in{
    border: 1px solid grey;
    font-size: 1.2rem;
    height: 3rem;
    padding-left: 0.6rem;
}



.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}



.selectcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border:1px solid grey;
}



img{
    margin-left:0.6rem;
}



.main{
    font-size: 20px;
    column-gap: 20px;
}



.dropdown i{
    font-size: 1.5rem;
    margin-top: 1.2rem;
}



.but{
    margin-top:2rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color:black;
    background-color: #a8dadc;
}